@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.heading {
    font-family: "Inter", sans-serif;
}

.h-110px {
    font-size: 6.875rem;
}

.heading.bold {
    font-weight: 700;
}

.heading.semibold {
    font-weight: 600;
}

.heading.medium {
    font-weight: 500;
}

.heading.regular {
    font-weight: 400;
}

.h-90px {
    font-size: 5.625rem;
}

.h-64px {
    font-size: 4rem;
}

.h-54px {
    font-size: 3.375rem;
}

.h-48px {
    font-size: 3rem;
}

.h-36px {
    font-size: 2.25rem;
}

.h-32px {
    font-size: 2rem;
}

.h-24px {
    font-size: 1.5rem;
}

.h-20px {
    font-size: 1.25rem;
}