.section-billing-detail {
    padding: 2.5rem 0 8.75rem;
}

.section-billing-detail h1 {
    color: var(--color-text-2);
    line-height: 83%;
    letter-spacing: 0.04rem;
    margin-bottom: 3rem;
}

.container {}

.section-billing-detail-form {
    display: flex;
}

.section-billing-detail__left {
    display: flex;
    flex-direction: column;
}

.section-billing-detail__left .input-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-billing-detail__left .input-column label {
    color: var(--color-text-2);
    opacity: 0.4;
}

.section-billing-detail__left .input-column label:has(input:required) span::after {
    content: "*";
    color: var(--color-secondary-2);
}

.confirm-safe {
    margin-top: 1.5rem;
    color: var(--color-text-2);
}

.t-14px {}

.section-billing-detail__right {
    max-width: 32.9375rem;
    /* flex: 1; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.cart-list {}

.product-row {}

.pruduct-row-text {}

.product-name {}

.product-price {}

.check {}

.pay-option {}

.img-list {}

.hidden {}

.section-coupon {}

.button {}