.section-billing-detail {
    padding: 2.5rem 0 8.75rem;
}

.section-billing-detail h1 {
    color: var(--color-text-2);
    line-height: 83%;
    letter-spacing: 0.04rem;
    margin-bottom: 3rem;
}

.container {}

.section-billing-detail-form {
    display: flex;
    justify-content: space-between;
    gap: 8.75rem;
}

.section-billing-detail__left {
    display: flex;
    flex-direction: column;
}

.section-billing-detail__left .input-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-billing-detail__left .input-column label {
    color: var(--color-text-2);
    opacity: 0.4;
}

.section-billing-detail__left .input-column label:has(input:required) span::after {
    content: "*";
    color: var(--color-secondary-2);
}

.confirm-safe {
    margin-top: 1.5rem;
    color: var(--color-text-2);
}

.t-14px {}

.section-billing-detail__right {
    --padding-section-billing-detail____right: 2rem;
    width: 100%;
    max-width: 32.9375rem;
    max-width: calc(32.9375rem + var(--padding-section-billing-detail____right) * 2);
    /* flex: 1; */
    padding: var(--padding-section-billing-detail____right);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart-list {
    width: 100%;
    max-width: 26.5625rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.pruduct-row-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-name {}

.product-price {}

.check {
    width: 100%;
    max-width: 26.5625rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.check .pruduct-row-text {
    position: relative;
    color: var(--color-text-2);
}

.check .pruduct-row-text:not(:last-of-type) {
    padding-bottom: 1rem;
}

.check .pruduct-row-text:not(:last-of-type)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: var(--color-text-2);
    opacity: 0.5;
}

.pay-options {
    width: 100%;
    max-width: 26.5625rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pay-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-text-2);
}

.pay-option label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.img-list.hidden {
    display: none;
}

.section-coupon {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-text-2);
}

.section-coupon input {
    padding: 1rem 1.5rem;
    border: 1px solid var(--color-text-2);
    border-radius: 0.25rem;
    flex: 1;
}

.section-billing-detail__right .button[type="submit"] {
    width: max-content;
}