:root {
    --nav-height: 94px;
}

.header-section-nav {
    padding: 40px 0 16px;
    width: 100vw;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    z-index: 999;

    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
}

.container.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-logo .heading {
    line-height: 1;
    letter-spacing: 0.03em;
}

.header-nav {
    display: flex;
    gap: 48px;
}

.header-tools {
    display: flex;
    gap: 24px;
}

.header-tools-search-bar {
    padding: 0.4375em 0.75em 0.4375em 1.25em;
    width: 243px;
    display: flex;
    background-color: var(--color-secondary);
    border-radius: 4px;
}

.header-tools-search-bar input {
    display: block;
    flex: 1;
}

.header-tools-card-wishlist {
    display: flex;
    gap: 1em;
}

.header-tools-card-wishlist img {
    max-width: 100%;
    min-width: 0;
}