:root {
    --sign-in-container: 90rem;
}

.container.container__login {
    padding: 3.75rem 0 8.75rem;
    max-width: var(--sign-in-container);
    display: flex;
    align-items: center;
    gap: 8.125rem;
}

.container.container__login .form-right {
    width: 23.125rem;
    display: flex;
    flex-direction: column;
}

.form-right-title {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--color-text-2);
}

.fields {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.fields input {
    padding-bottom: 0.5rem;
    position: relative;
    color: var(--color-text-2);
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.4);
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login a {
    color: var(--color-secondary-2);
}