.section-featured .container {
    padding: 4.375rem 0;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}

.section-featured .home-section__body-grid {
    display: grid;
    gap: 1.875rem;
}

.section-featured .home-section__body-grid#grid-1 {
    grid-template-rows: repeat(1, 37.5rem);
    grid-template-columns: repeat(2, 1fr);
}

.section-featured .home-section__body-grid#grid-2 {
    grid-template-rows: repeat(2, 1fr);
}

.section-featured .home-section__body-grid#grid-3 {
    grid-template-columns: repeat(2, 1fr);
}