.section-categories .container {
    padding: 5rem 0 4.375rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-border);
}

.section-categories .home-section__body-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.875rem;
}